<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ stylesheet_template }}" />
  </head>
  <body>
    <div class="container" id="tl_container">
      <div class="container spacer"></div>
      <div class="container vertcont main">
        <div class="container">
          <div class="container vertcont" id="center_container">
            <div class="container">
              <div class="container spacer"></div>

              <div class="container spacer"></div>
            </div>
            <div class="container vertcont" id="title_container">
              <hr width="100%"/>
              <div class="container spacer" style="height: 1.5em;"></div>
              <h2 id="title">
                {{ main_title }}
              </h2>

              <span class="content_font" id="tagline" style="padding-bottom: 1em;">
                {{ main_content }}
              </span>