<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if title}}
    <meta property="og:title" content="{{ title }}" />
    {{/if}}
    {{#unless title}}
    <link rel="alternate" type="application/rss+xml" title="{{ main_title }}" href="{{ links.Feed }}" />
    {{/unless}}
    <meta property="og:site_name" content="{{ main_title }}" />
    <meta property="og:description" content="{{ sub_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ metadata.site_fqdn }}" />
    <title>
      {{#if title}}
      '{{ title }}',
      {{/if}}
      {{ main_title }}
    </title>
    <link rel="stylesheet" href="{{ stylesheet }}" />
  </head>
  {{#if timestamp_native}}
  <!-- {{ timestamp_native }} -->
  {{/if}}
  <body>
    <div class="container" id="tl_container">
      <div class="container spacer"></div>
      <div class="container vertcont main">
        <div class="container">
          <div class="container vertcont" id="center_container">
            <div class="container">
              <div class="container spacer"></div>

              <div class="container spacer"></div>
            </div>
              <div class="container vertcont" id="title_container">
                <hr width="100%"/>
                <div class="container link_container">
                  <div class="container spacer"></div>
                  {{#each links}}
                    <div class="link_ele">
                      <a href="{{ this }}">{{ @key }}</a>
                    </div>
                  {{/each}}
                  <div class="container spacer"></div>
                </div>
                <div class="container spacer" style="height: 1.5em;"></div>
                <h2 id="title">
                  <a href="{{ metadata.site_fqdn }}">{{{ main_title }}}</a>
                </h2>
                <div id="sub_title">
                  {{{ sub_title }}}
                </div>
                <div class="container">
                  <div class="container spacer mainsidespace"></div>
                    <div id="main_content_container" class="container vertcont content_font content">

                      {{#if main_content}}
                      <div id="main_content">
                        {{{ main_content }}}
                      </div>
                      {{/if}}
